extends baseEmail 


block content 
    p Hi #{firstName},
    p Welcome to National Parks Hiking Tours!
    p In order to start booking tours, please confirm your email address.
    br
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Verify my email
    br
    br
    p If you need any help with booking your next tour, please don't hesitate to contact us!
    p See you soon on a hike,
    br
    br
    p - The National Parks Hiking Tours Team